$break-small: 600px;
$break-large: 1200px;

.Content__grid-2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 100%;
  background: aquamarine;

  @media screen and (max-width: $break-small) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: $break-large) {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .Content__grid-cell {
    padding: 2vh;

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;

      ngaf-form-field, ngaf-form-group {
        grid-area: span 1/ span 2;
      }
      ngaf-form-group a {
        @extend h3;
      }
    }
  }
}
