<!--The content below is only a placeholder and can be replaced.-->
<div class="TopBar">
  <a class="App__title">NgxAutomaticForms</a>
</div>
<div class="Content__grid-2">
  <div class="Content__grid-cell">
    <h3>Json Input:</h3>
    <textarea id="input" [value]="jsonForm" (change)="onChangeJson($event)"></textarea>
  </div>
  <div class="Content__grid-cell">
    <h2>{{formObject.name}}</h2>
    <ngaf-form [form]="formObject" (submission)="onFormSubmission($event)"></ngaf-form>
  </div>
  <div class="Content__grid-cell">
    <h3>Form submission result:</h3>
    <textarea [value]="jsonResult" readonly></textarea>
  </div>
</div>
